h1 {
    padding-left: 7%;
    padding-top: 2%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 32%;
}
  
li {
    float: left;  
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.filter {
    position: fixed;
    top: 0;
    right: 50px;
    
}